*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'roboto';
    src: url("./Roboto/Roboto-Black.ttf");
}

body{
    background-color: #f4f4f4;
    font-family: 'roboto';
    height: 100vh;
}

.slider-container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.left-slider-container{
    position: absolute;
    height: 100%;
    width: 30%;
    transition: transform .2s ease-in-out;
}

.left-slider-container > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    font-size: 20px;
}

.right-slider-container{
    position: absolute;
    height: 100%;
    width: 70%;
    left: 30%;
    top: 0;
    transition: transform .5s ease-in-out;
}

.right-slider-container > div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

button{
    padding: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
}

.slider-container .buttons button{
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100;
}

.slider-container .buttons .down-button{
    transform: translateX(-100%);
    margin-top: 40px;
}

.btn{
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: none;
}

.btn-round{
    position: absolute;
    left: 90%;
    top: 10%;
    z-index: 100;
    border-radius: 3px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-family: 'roboto';
}

.btn-round i{
    margin: 5px;
}